
* { 
  box-sizing: border-box; 
}

h1 {
  font-family: Roboto Slab;
  font-size: 70px;
  color: #00a79d;
  display: block;
  margin: 30px;
  text-align: center;
}

h2 {
  color: #6D6E71; 
  font-family: Roboto Slab;
  font-size: 20px;
  display: inline-block;
  width: 89%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
}

header {
  background-color: #E5F3F2;
  padding: 30px;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #D1D3D4;
  padding-bottom: 8px;
}

input {
  color: #6D6E71;
}

input::placeholder {
  opacity: .5;
}

p {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  margin-top: 14px;
}

textarea {
  min-height: 40px;
  resize: vertical;
  color: #6D6E71;
}

textarea::placeholder {
  opacity: 0.5;
  padding-top: 5px;
}

.box-styling {
  color: #6d6e71;
}

.checked, 
.completed {
  margin-right: 2.6%;
}

.complete-task {
  border: none;
  float: right;
  font-size: 15px;
  margin-top: 16px;
}

.complete-task:hover {
  color: #00a79d;
  transform: scale(1.1);
  font-weight: bold;
  cursor: pointer;
}

.delete-button {
  background-image: url(../images/delete.svg);
  height: 25px;
  width:25px;
  float: right;
  border: none;
}

.delete-button:hover {
  background-image: url(../images/delete-hover.svg);
  cursor: pointer;
}

.down-arrow {
  background-image: url(../images/downvote.svg);
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
  width:25px;
  border: none;
}

.down-arrow:hover {
  background-image: url(../images/downvote-hover.svg);
  cursor: pointer;
}

.filter-checkboxes {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 10px;
  color: #6D6E71;
}

.filter-section {
  padding: 30px 30px 0px 30px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.importance-rank {
  display: inline-block;
  font-family:'Roboto Slab', serif;
  font-size: 18px;
  margin-bottom: 15px;
  vertical-align: middle;
  margin-top: 14px;
} 

.input-fields {
  border: solid 2px #D1D3D4;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  height: 40px;
  margin: 0 auto 20px auto;
  padding: 0 0 0 10px;
  width: 100%;
}

.marked-as-complete {
  opacity: .5;
}

.more-cards-button {
  border: none;
  color: #6D6E71;
  font-size: 15px;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
}

.more-cards-button:hover {
  color: #00a79d;
  transform: scale(1.1);
  font-weight: bold;
  cursor: pointer;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.save-button {
  background-color: #00A79D;
  border: none;
  box-shadow: 0px 4px 16px -5px rgba(0,0,0,0.75);
  color: #FFFFFF;
  /*It should have sans-serif font*/
  font-family:'Roboto Slab', serif;
  font-size: 20px;
  height: 40px;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.save-button:disabled {
  background-color: #939598;
  cursor: pointer;
}

.save-button:hover {
  background-color: #045E55;
  cursor: pointer;
}

.show-button-container {
  display: flex;
}

.todo-form {
  margin: auto;
  width: 50%;
}

.todo-section {
  padding: 0 30px 30px 30px;
}

.up-arrow {
  background-image: url(../images/upvote.svg);
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
  width:25px;
  border: none;
}

.up-arrow:hover {
  background-image: url(../images/upvote-hover.svg);
  cursor: pointer;
}

.wrapper {
  margin: auto;
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  .todo-form {
    width: 65%;
  }

  .wrapper {
    width: 65%;
  }

}

@media only screen and (max-width: 750px) {
  .todo-form {
    width: 80%;
  }

  .wrapper {
    width: 80%;
  }

}

@media only screen and (max-width: 550px) {
  .complete-task {
    font-size: 12px;
    margin-top: 17px;
  }

  h1 {
    font-size: 50px
  }

  .importance-rank {
    font-size: 14px;
  }

  .wrapper {
    width: 90%;
  }

  .todo-form {
    width: 90%;
  }


}

@media only screen and (max-width: 420px) {
  .complete-task {
    float: none;
    margin-top: 0;
  }

  .up-arrow,
  .down-arrow {
    margin-right: 0;
  }

}